#container {
	width: 970px;
	padding: 15px;
	margin-bottom: 15px;
}

#header {
	width: 100%;

}

	#pokecounter {
		width: 25%;
		border: 1px solid black;
	}

#poketable {
	width: 100%;
}

	#poketable table {
		border: 1px solid black;
	}